<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Linked Learning</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="/assets/js/bookmark.js"></script>
</head>

<body style="background-color: rgb(80, 42, 116)">
	{{{ body }}}
</body>

</html>