<div class="container p-3" style="background-color: rgb(170, 107, 229)">
  <div class="row">
    <div class="col-md-5">
      <h1 class="text-warning">
        <strong>Bootcamp Bookmarks</strong>
      </h1>
      <p class="lead">
        <strong>Saving and organizing class links since 2018</strong>
      </p>
    </div>
    <div class="col-md-3">
      <p class="text-warning">Interface Panel:</p>
      <input type="radio" name='group1' value="userLogin"> User Login
      <input type="radio" name='group1' value="createUser"> New User
      <br>
      <input type="radio" name='group1' value="addBookmark" checked> Add Bookmark
      <input type="radio" name='group1' value="searchBookmark"> Search
      <br>
      <input type="radio" name='group1' value="showBookmarks"> Bookmarks
    </div>

    <div class="col-md-4 viewPanel" style="background-color: rgb(137, 77, 193)" id="userLogin">

      <!-- for userLogin, I need email and password -->

      <form class="create-form">
        <div class="form-group text-white">
          <label for="email">E-mail: </label>
          <input type="text" id="email" name="email">
          <br>
          <label for="password">Password: </label>
          <input type="text" id="password" name="password">
        </div>
        <button type="submit" id="loginbutton">Submit</button>
      </form>
    </div>

  </div>
  <div class="row" style="background-color: rgb(116, 53, 174)" id="mainDiv">

    <form class="viewPanel create-form" id="createUser">
      <!-- Edwin, for createUser, I need fname, lname, email, password -->
      <div class="form-group text-white">
        <label for="fname">First name: </label>
        <input type="text" id="fname" name="fname">
        <br>
        <label for="fname">Last name: </label>
        <input type="text" id="lname" name="lname">
        <br>
        <label for="email">E-mail: </label>
        <input type="text" id="email-input" name="email">
        <br>
        <label for="password">Password: </label>
        <input type="text" id="password-input" name="password">
      </div>
      <button type="submit" id="register-submit">Submit</button>
    </form>

    <form class="col-md-12 viewPanel" id="addBookmark" style="display: block;">
      <div class="form-group text-white">
        <label for="url">
          <strong>Title</strong>
        </label>
        <input type="text" class="form-control" id="title-input" placeholder="Enter a link here">
      </div>
      <div class="form-group text-white">
        <label for="url">
          <strong>Add Bookmark</strong>
        </label>
        <input type="text" class="form-control" id="url" placeholder="Enter a link here">
      </div>
      <div class="form-group text-white">
        <label for="exampleFormControlTextarea1">
          <strong>Description</strong>
        </label>
        <textarea class="form-control" id="summary-input" rows="3"></textarea>
      </div>
        <div class="form-group text-white">
        <label for="tags">
          <strong>Added by</strong>
        </label>
        <input type="text" class="form-control" id="addedby-input">
      </div>
      <div class="form-group text-white">
        <label for="tags">
          <strong>Tags</strong>
        </label>
        <input type="text" class="form-control" id="tags">
      </div>

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle btn-outline-secondary text-white" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
          Category
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>
            <a class="dropdown-item" id="htmlcss">HTML_CSS</a>
          </li>
          <li>
            <a class="dropdown-item" id="jquery">Bootstrap</a>
          </li>
          <li>
            <a class="dropdown-item" id="javascript">JavaScript</a>
          </li>
          <li>
            <a class="dropdown-item" id="jquery">jQuery</a>
          </li>
          <li>
            <a class="dropdown-item" id="ajax">Ajax</a>
          </li>
          <li>
            <a class="dropdown-item" id="firebase">Firebase</a>
          </li>
          <li>
            <a class="dropdown-item" id="nodejs">Nodejs</a>
          </li>
          <li>
            <a class="dropdown-item" id="mysql">MySQL</a>
          </li>
          <li>
            <a class="dropdown-item" id="express">Express</a>
          </li>
          <li>
            <a class="dropdown-item" id="handlebars">Handlebars</a>
          </li>
          <li>
            <a class="dropdown-item" id="sequelize">Sequelize</a>
          </li>
          <li>
            <a class="dropdown-item" id="sequelizer">MongoDB</a>
          </li>
          <li>
            <a class="dropdown-item" id="react">Reactjs</a>
          </li>
          <div role="separator" class="dropdown-divider"></div>
          <li>
            <a class="dropdown-item" id="jquery">Shortcuts</a>
          </li>
          <li>
            <a class="dropdown-item" id="react">Other</a>
          </li>
          </li>
        </ul>
      </div>
        <div class="dropdown" id="slackchannel-input">
            <button class="btn btn-default dropdown-toggle btn-outline-secondary text-white" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="true">
              Slack Channel
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu" id="#catselection">
              <li><a class="dropdown-item" id="careers">careers</a></li>
              <li><a class="dropdown-item" id="class_activities">class_activities</a></li>
              <li><a class="dropdown-item" id="classroomnotes">classroomnotes</a></li>
              <li><a class="dropdown-item" id="group_projects">group_projects</a></li>
              <li><a class="dropdown-item" id="hacks_and_helps">hacks_and_helps</a></li>
              <li><a class="dropdown-item" id="homework">homework_assignments</a></li>
              <li><a class="dropdown-item" id="updates">importantclassupdates</a></li>
              <li><a class="dropdown-item" id="parkinglot">parkinglot</a></li>
              <li><a class="dropdown-item" id="studygroups">studygroups</a></li>
              <li><a class="dropdown-item" id="virtualoffice">virtualofficehours</a></li>
              <div role="separator" class="dropdown-divider"></div>
              <li><a class="dropdown-item" id="other">Other</a></li>
            </div>
          </div>
      <button id="bookmarksubmit">Submit</button>
    </form>

    <form class="col-md-12 viewPanel" id="searchBookmark">
      <h3 class="text-warning">Search Bookmarks</h3>
      <div class="row">
        <div class="form-group text-white col-md-5">
          <label for="tags">
            <strong>Entered By </strong>
          </label>
          <input type="text" class="form-control" id="enteredBy">
        </div>
        <div class="form-group text-white col-md-5">
          <label for="tags">
            <strong>Tags</strong>
          </label>
          <input type="text" class="form-control" id="tags">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle btn-outline-secondary text-white" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="true">
              Category
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li>
                <a class="dropdown-item" id="htmlcss">HTML_CSS</a>
              </li>
              <li>
                <a class="dropdown-item" id="jquery">Bootstrap</a>
              </li>
              <li>
                <a class="dropdown-item" id="javascript">JavaScript</a>
              </li>
              <li>
                <a class="dropdown-item" id="jquery">jQuery</a>
              </li>
              <li>
                <a class="dropdown-item" id="ajax">Ajax</a>
              </li>
              <li>
                <a class="dropdown-item" id="firebase">Firebase</a>
              </li>
              <li>
                <a class="dropdown-item" id="nodejs">Nodejs</a>
              </li>
              <li>
                <a class="dropdown-item" id="mysql">MySQL</a>
              </li>
              <li>
                <a class="dropdown-item" id="express">Express</a>
              </li>
              <li>
                <a class="dropdown-item" id="handlebars">Handlebars</a>
              </li>
              <li>
                <a class="dropdown-item" id="sequelize">Sequelize</a>
              </li>
              <li>
                <a class="dropdown-item" id="sequelizer">MongoDB</a>
              </li>
              <li>
                <a class="dropdown-item" id="react">Reactjs</a>
              </li>
              <div role="separator" class="dropdown-divider"></div>
              <li>
                <a class="dropdown-item" id="jquery">Shortcuts</a>
              </li>
              <li>
                <a class="dropdown-item" id="react">Other</a>
              </li>
              </li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle btn-outline-secondary text-white" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="true">
              Slack Channel
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu" id="#catselection">
              <li><a class="dropdown-item" id="careers">careers</a></li>
              <li><a class="dropdown-item" id="class_activities">class_activities</a></li>
              <li><a class="dropdown-item" id="classroomnotes">classroomnotes</a></li>
              <li><a class="dropdown-item" id="group_projects">group_projects</a></li>
              <li><a class="dropdown-item" id="hacks_and_helps">hacks_and_helps</a></li>
              <li><a class="dropdown-item" id="homework">homework_assignments</a></li>
              <li><a class="dropdown-item" id="updates">importantclassupdates</a></li>
              <li><a class="dropdown-item" id="parkinglot">parkinglot</a></li>
              <li><a class="dropdown-item" id="studygroups">studygroups</a></li>
              <li><a class="dropdown-item" id="virtualoffice">virtualofficehours</a></li>
              <div role="separator" class="dropdown-divider"></div>
              <li><a class="dropdown-item" id="other">Other</a></li>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="dropdown">
            <button class="btn btn-default dropdown-toggle btn-outline-secondary text-white" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="true">
              Rating
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
              <li><a class="dropdown-item" id="1star">1 star</a></li>
              <li><a class="dropdown-item" id="2stars">2 stars</a></li>
              <li><a class="dropdown-item" id="3stars">3 stars</a></li>
              <li><a class="dropdown-item" id="4stars">4 stars</a></li>
              <li><a class="dropdown-item" id="5stars">5 stars</a></li>
            </div>
          </div>
        </div>

      </div>
      <button type="submit" id="search-button">Submit</button>
    </form>
    <div class="container">
      {{>bookmark-block}}
    </div>
  </div>
</div>